<configuration>
    <!-- see http://logback.qos.ch/manual/configuration.html#LevelChangePropagator; this is for the jul bridge -->
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <property name="LOG_FILE_LOCATION" value=""/>
    <property name="LOG_FILE_NAME" value="oculus"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{dd/MMM/yy HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_FILE_LOCATION}${LOG_FILE_NAME}.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- daily rollover -->
            <fileNamePattern>${LOG_FILE_LOCATION}${LOG_FILE_NAME}.%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- keep 30 days' worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.restfb" level="WARN"/>
    <logger name="org.apache.zookeeper" level="INFO"/>

    <!-- those loggers are really noisy -->
    <logger name="org.apache.hadoop" level="INFO"/>
    <logger name="com.amazonaws.services.s3" level="INFO"/>
    <logger name="org.apache.http" level="INFO"/>
    <logger name="org.apache.http.wire" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE"/>
    </root>

</configuration>